MEEVO_APP_ID=your_app_id_here
MEEVO_APP_SECRET=your_app_secret_here
MEEVO_AUTH_URL=https://marketplace.meevo.com/oauth2/token
MEEVO_BASE_URL=https://na1pub.meevo.com/publicapi
MEEVO_TENANT_ID=your_tenant_id
MEEVO_LOCATION_ID=your_location_id
